body,div,dl,dt,dd,p,ul,li,ol,h2,h3 {
    padding:0;
    margin:0;
    
}
body{
    background-color:rgb(237,237,237);
    font-family:Arial, Arial, Helvetica, sans-serif;
    font-size:12px;
}
.clear{
    clear:both;
}
.wrapper{
    width:1200px;
    margin:auto;
}
.content{
    width:100%;
    background-color:rgb(254,254,254);
    border: 1px solid rgb(224,224,224);
    border-radius: 5px;
    float:left;
    margin-top:8px;
    margin-bottom:8px;
    min-height:400px;
}
.menu{
    width:100%;
    background-color:rgb(10,110,178);
    margin: 0px 0px 10px;
    padding:0px;
    height: 40px;
    color:rgb(243,243,243);
    border-radius: 5px 5px 5px 5px;
}
.navigation_first_item{
    border-left:0px;
    border-radius:5px 0 0 5px;
}
.navItem_s{
    float: left;
    border-right: 1px solid rgb(10,85,125);
    border-left: 1px solid rgb(67,153,200);
    height:40px;
    background-color:rgb(14,79,114);

}
.menu ul{

}

.menu ul li {
    float:left;
    display:block;
    list-style:none;
    border-right: 1px solid rgb(10,85,125);
    border-left: 1px solid rgb(67,153,200);
}
.menu ul li a{
    font-size:13px;
    font-weight:bold;
    line-height:40px;
    padding:8px 20px;
    color:black;
    text-decoration:none;

}
.menu ul li:hover{
    background-color: rgb(14,79,114);
    border-right: 1px solid rgb(14,89,130);
}

/*Footer*/
.footer{
    height:50px;
    background-color:rgb(10,110,178);
    color:rgb(255,255,255);
    border-radius: 5px 5px 5px 5px;
}
.footer h2{
    padding:15px;
    text-align:center;
}

/*GRID*/
.Grid { border: solid 1px #FFFFFF; }
.Grid td
{
border: solid 1px #FFFFFF;
margin: 1px 1px 1px 1px;
padding: 1px 1px 1px 1px;
text-align: center;
max-width:80px;
}
.GridHeader
{
font-weight: bold;
background-color: #8b8dbb;
}
.GridItem
{
background-color: #e6e6e6;
}

.GridAltItem
{
background-color: white;
}